.carousel {
    margin-top: 11px;
    position: relative;
    overflow: hidden;
}

.carousel .prev-button {
    position: absolute;
    top: calc(50% - 20px);
    left: 20px;
}

.carousel .next-button {
    position: absolute;
    top: calc(50% - 20px);
    right: 20px;
}

.carousel .counter {
    position: absolute;
    right: 24px;
    bottom: 57px;
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
}

.carousel-item-container {
    display: flex;
}

.carousel-item {
    position: relative;
}

.carousel-item > img {
    width: 720px;
    height: 480px;
    display: block;
}

.carousel-item > .item-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}

.carousel-item > .item-info > .img-inside {
    padding-left: 20px;
}

.carousel-item .title {
    margin-top: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
}

.carousel-item .tag {
    margin-top:12px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.carousel-item .tag img {
    height: 22px;
}

.carousel-item .tag .badge {
    margin-right: 10px;
}

.carousel-item .tag .ico-bigthum-wait {
    margin-right: 4px;
}

.carousel-item .tag .seperator {
    margin: 0 8px;
}

.carousel-item .tag .ico-bigthum-person {
    margin-right: 4px;
}

.carousel-item .bottom {
    margin-top: 20px;
    height: 40px;
    font-size: 18px;
    background-color: #ffd200;
    display: flex;
    justify-content: center;
    align-items: center;
}