@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@350;400;500&display=swap');

body {
    margin: 0;
    background-color: #eee;
}

h1 {
    margin: 0;
}

h3.toon-h3 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    padding: 0;
}

input {
    line-height: 1.15;
}

a {
    text-decoration: none;
    cursor: pointer;
}

* {
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
}

#main-contents {
    margin-top: 11px;
}

#main-contents > * {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.dummy-content {
    height: 2000px;
    margin-top: 11px;
    background-color: #333;
}

