#kpw-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    z-index: 10;
}

.header-top {
    display: flex;
    height: 80px;
    width: 720px;
    margin: 0px auto;
}

.header-top h1.logo > img {
    display: block;
    margin: 30px 0 22px;
    height: 29px;
    width: 130px;
}

.header-ui {
    display: flex;
    justify-content: flex-end;
    flex-basis: auto;
    flex-grow: 1;
}

.header-ui .search-div {
    margin: 27px 0 19px;
}

.header-ui .stage-div {
    position: relative;
    margin: 31px 0 0 24px; 
}

.stage-div .stage-toolip {
    position: absolute;
    top: 29px;
    left: -37px;
}

ul.button-div {
    display: flex;
    margin: 30px 0 0 22px;
}

ul.button-div li.btn {
    color: #999;
    font-size: 18px;
    font-weight: 400;
}

ul.button-div li.split-box {
    margin: 7px 10px 2px 10px;
    background-color: #e2e2e2;
    width: 1px;
    height: 12px;
}