* {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4; 
}

body, ul, p {
    margin: 0; 
    padding: 0;
}

li {
    list-style: none;
    width: 100%;
    text-align: center;
}

/** 
    header + navigation 고정 
*/
.top {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
}


/**
 header 
*/
header {
    margin: 30px 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    width: 720px;
    margin: 0 auto; 
}

.header-right {
    display: flex;
    justify-content: space-between;
}

.header-right > * + * {
    margin-left: 24px;
}

/* search bar  */
.search {
    border: 1px solid #cfcfcf;
    border-radius: 30px;
    line-height: 23px;
    width: 180px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.search > input {
    border-style: none;
    width: 136px;
    padding: 0; 
}

.search > input:focus-visible {
    outline-style: none;
}

.search > img {
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

/* header-text (캐시충전/로그인 부분) */
.header-text {
    display: flex; 
    align-items: center;
    color: #999;
    font-size: 18px;
}

.header-text > * + * {
    font-weight: 400;
}

.header-text > .separator {
    display: block;
    box-sizing: border-box;
    background-color: #e2e2e2; 
    width: 1px;
    height: 12px; 
    margin: 0 10px;
}

/**
   navigation
*/
.menus {
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 30px 0 15px;
    width: 720px;
}

.menus > li > a {
    text-decoration: none;   
    color: black;
    height: 20px; 
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
}

/**
    webtoon menu
*/
main {
    background: #eee;
    padding-top: 165px;
    height: 200vh;
}

.webtoon-genres {
    width: 720px;
    margin: 0 auto; 
    padding: 22px 0;
}

.webtoon-genres > ul {
    background-color: white;   
    display: flex;
    align-items: center;
    margin: 0px auto;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(187, 187, 187);
}

.webtoon-genres > ul > li:first-child {
    color: black;
}

/**
    carousel
*/
.carousel {
    width: 720px;
    margin: 0 auto;
    position: relative;
}

.carousel > img {
    width: 720px;
}

/* carousel buttons */

.carousel-button {
    position: absolute; 
    top: 50%; 
    margin-top: -18px;
    padding: 0; 
    cursor: pointer;
}

.previous-button {
    left: 0;
    margin-left: 20px;
}

.next-button {
    right: 0;
    margin-right: 20px;
}

/* carousel info */
.carousel-info {
    padding-left: 30px;
    position: absolute; 
    bottom: 60px;
    left: 0px;
}

.carousel-info > h2 {
    color: white;
    font-size: 28px;
    line-height: 1;
}

.carousel-detail {
    display: flex;
    font-weight: 400; 
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.event-img {
    margin-right: 10px;
    height: 22px;
}

.carousel-detail > div {
    display: flex;
    align-items: center;
}

.carousel-detail > div > img {
    margin: 0 4px;
}

/* carousel number */
.carousel-number {
    position: absolute; 
    bottom: 60px;
    right: 15px;
    color: #ffffff;
    font-size: 20px;
    opacity: 0.6;
}

/* carousel description */
.carousel-description {
    position: absolute;
    left: 0; 
    bottom: 0;
    background-color: #ffd200;
    height: 40px;
    width: 100%; 
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* webtoon menus */
.webtoon-menus {
    width: 720px;
    margin: 11px auto 0 auto;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

.webtoon-menus-container {
    display: flex; 
    box-sizing: border-box;
    flex-wrap: wrap; 
    /* 왜 적용이 안될까 ㅜ  
    border-radius: 8px; 
    */
}


/* 비효율적인 방법이지만.. 일단 border-radius 아래 방법으로 해결
더 좋은 방법 찾아보기  */
.webtoon-menu-top-left {
    border-top-left-radius: 8px;
}

.webtoon-menu-top-right {
    border-top-right-radius: 8px;
}

.webtoon-menu-bottom-left {
    border-bottom-left-radius: 8px;
}

.webtoon-menu-bottom-right {
    border-bottom-right-radius: 8px;
}

/* 각 메뉴 styling */
.webtoon-menus-container > a {
    width: 30%;
    padding: 0 10px;
    height: 60px;
    background-color: #f3f3f3;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.webtoon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.webtoon-menu > p:first-child {
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;  
    overflow: hidden; 
    font-size: 18px;
}

.webtoon-menu > p:last-child {
    background-color: #ffd200;
    height: 24px;
    padding: 0 8px; 
    margin-left: 10px;
    font-size: 16px; 
    border-radius: 13px;
}

/* 배너 캐루셀 */
.banner {
    /* display: flex; 
    width: 720px;
    margin: 11px auto 0 auto;
    background-color: white; */
    width: 720px;
    margin: 0 auto; 
    padding: 22px 0;
}

.banner-container {
    display: flex; 
    align-items: center;
    background-color: white;
    position: relative; 
}

.slide_box {
    width: 550x; 
    height: 140px; 
}

.slide_list {
    overflow: hidden;
}

.slide_item {
    height: 140px;
    display: none;
}

.slide_item > img {
    width: 550px; 
    height: 100px; 
}

.banner-btn {
    width: 85px;
    height: 100px;
    border-style: none;
    background-color: inherit;
    cursor: pointer;
}

/* Fading animation */
.slide {
    animation-name: slidein;
    animation-duration: 0.5s;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/**
 요일 연재 TOP 
*/
/* title 및 더보기  */
.daily-ranking {
    box-sizing: border-box;
    width: 720px;
    margin: 11px auto 0 auto; 
    padding: 22px 19px;
    background-color: #ffffff;
}

.daily-ranking-header, .daily-ranking-top, .daily-ranking-more {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.daily-ranking-top > p:first-child {
    margin: 0; 
    font-size: 20px; 
    color: #333;
}

.daily-ranking-top > p:last-child {
    color: #999; 
    font-size: 14px;
    margin-left: 4px;
}

.daily-ranking-more > p {
    color: rgb(153, 153, 153); 
    font-size: 16px;
}

.daily-ranking-more > img {
    margin-left: 4px;
    margin-top: 2px;
    width: 8px;
    height: 14px;
}

.daily-ranking-tabs {
    margin-top: 15px;
}

.daily-ranking-tabs-container {
    display: flex;
}

.daily-ranking-tabs-container > li {
    padding: 15px 0; 
    font-size: 20px;
    text-align: center;
    color: #bbbbbb;
}