<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kakaopage clone coding</title>
        <link rel="stylesheet" href="/stylesheets/header.css" />
        <link rel="stylesheet" href="/stylesheets/content.css" />
      </head>
    <body onload="init()">
        <header class="main_header">
            <div class="main_header_content">
                <h1 class="main_header_content_left">
                    <img
                        src="https://static-page.kakao.com/static/common/logo-kakaopage.svg?e0dffe87c45ca42b47399538391a1954"
                        alt="kakaopage logo"
                    />
                </h1>
                <div class="main_header_content_right">
                    <div>
                      <div class="wrap_search">
                        <div class="search_input">
                          <input type="text" />
                        </div>
                        <div class="search_img">
                          <img src="https://static-page.kakao.com/static/pc/btn_search.png?a8ce9e4eba0250e52d4570c605f79f9a" alt="검색 버튼" />
                        </div>
                      </div>
                    </div>
                    <div class="header_stage">
                      <img src="https://static-page.kakao.com/static/common/pc-logo-stage.svg?67473e9acf34aa0425a982b16f882f5f" alt="스테이지">
                    </div>
                    <button class="header_button">
                      <div>캐시충전</div>
                      <div class="division"></div>
                      <div>로그인</div>
                    </div>
                </div>
            </div>
        </header>
        <section class="wrap_content">
          <nav class="content_nav">
            <ul>
              <li>
                <img src="https://static-page.kakao.com/static/pc/menu_home.svg?156813c20605e12311c90bae39f38c31" alt="홈">
              </li>
              <li class="clicked">
                <img src="https://static-page.kakao.com/static/pc/menu_toon.svg?fd6837bff2e823e13c693320961cc5a8" alt="웹툰/만화">
              </li>
              <li>
                <img src="https://static-page.kakao.com/static/pc/menu_novel.svg?417f894a74c6cd5334b4a84cfa470d55" alt="웹소설/장르">
              </li>
              <li>
                <img src="https://static-page.kakao.com/static/pc/menu_vod.svg?549a6831d63d4b27a463c6cc2be7044f" alt="영화">
              </li>
              <li>
                <img src="https://static-page.kakao.com/static/pc/menu_broadcast.svg?549cf0553505cda3d418aa684f358c18" alt="예능/드라마">
              </li>
              <li>
                <img src="https://static-page.kakao.com/static/pc/menu_book.svg?eb9b97c2528955f1e6cf788c6fe7e504" alt="책">
              </li>
            </ul>
          </nav>
          <div class="main_content">

          </div>
        </section>
        <script src="/javascripts/index.js"></script>
    </body>
</html>
