@import url("banner.css");
@import url("banner-slide.css");
@import url("toon-summary.css");
@import url("daily-toon.css");
@import url("toon-info.css");
.content-body{
    margin-top: 167px;
}

.nav-content{
    z-index: 199;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    top: 80px;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    background-color: #fff;
    position: fixed;
}

.nav-content > ul{
    box-sizing: border-box;
    min-width: 0px;
    visibility: visible;
    padding: 0px;
    margin: 0px auto;
    width: 720px;
    display: flex;
}

.nav-content-form{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    list-style: none;
    position: relative;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px 0 15px;
    cursor: pointer;
}

.nav-content-form.focus{
    border-bottom-color: #ffd200;
}

.nav-content-form > img{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    height: 20px;
}

.sub-category-container{
    margin: 0;
    min-width: 0;
    width: 100%;
}

.sub-category-container > ul{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px auto;
    width: 720px;
    display: flex;
}

.sub-category-container > ul > li{
    padding: 22px 0px;
    font-size: 20px;
    display: flex;
    list-style: none;
    text-align: center;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    color: rgb(187, 187, 187);
    cursor: pointer;
}

.sub-category-container > ul > li.focus{
    color: rgb(51, 51, 51);
}

.contents{
    width: 720px;
    margin: 11px auto 0;
}