.daily-toon-container{
    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff;
    margin-top: 11px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.daily-toon-title-wrap{
    display: flex;
}

.daily-toon-title-box{
    flex: 1;
}

.daily-toon-title-content{
    display: flex;
}

.daily-toon-title-content > h3{
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 20px;
    color: #333;
}

.daily-toon-title-view{
    color: #999;
    font-size: 14px;
    margin-left: 4px;
    flex: 0 0 auto;
}

.daily-toon-more{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #999;
    cursor: pointer;
}

.daily-toon-more > img{
    max-width: 100%;
    height: auto;
    margin-left: 4px;
    margin-top: 2px;
    width: 8px;
    height: 14px;
}

.daily-toon-day-category{
    list-style: none;
    margin-top: 15px;
    padding: 0;
    display: flex;
}

.daily-toon-day-category > li{
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    flex: 1;
    background-color: #ffffff;
}

.daily-toon-day{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: center;
    color: #bbbbbb;
}

.daily-toon-day-category > li.focus{
    border-bottom: 2px solid #ffd200;
}

.focus > .daily-toon-day{
    color: #333333;
}

.daily-toon-wrap{
    margin-top: 22px;
    width: 100%;
}

.daily-toon-content{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}