html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #eee;
    text-indent: 0!important;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

* {
    font-family: NotoSans;
    line-height: 1.4;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}