.flex {
  display: flex;
  align-items: center;
}

/* ---- components ---- */

.textBtn {
  box-sizing: border-box;
  appearance: none;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  display: flex;
  font-size: 18px;
  color: #999;
  padding: 0;
  margin: 0;
  min-width: 0;
  background-color: transparent;
  cursor: pointer;
}

/* ---- slideBannerBox ---- */

.slideBannerBox {
  position: relative;
  background: #ffffff;
  cursor: pointer;
  height: 480px;
  border-bottom: 1px solid #e6e6e6;
}

.slideBannerBox > div {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slideBannerBox__content {
  margin-top: auto;
  color: white;
  padding-left: 20px;
}

.slideBannerBox__content > p {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  margin-top: 6px;
}

.slideBannerBox__content > :last-child {
  margin-top: 12px;
}

.slideBannerBox__footer {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #ffd200;
  display: flex;
  align-items: center;
}
.slideBannerBox__footer > span {
  margin: 0px auto;
  font-size: 18px;
}

/* ---- searchbar ---- */

.searchBarBox {
  line-height: 23px;
  padding: 2px;
  border: 1px solid #cfcfcf;
  background: #fff;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  margin-top: -4px;
}

.searchBarBox input {
  width: 136px;
  height: 100%;
  border: 0;
  padding: 2px 3px 2px 11px;
  background: #ffffff;
  font-size: 16px;
  line-height: 1.15;
  outline: none;
  height: 24px;
}

.searchBarBox > div {
  display: flex;
  align-items: center;
}

.searchBarBox__submitBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

/* ---- appDownloadWrap ---- */

.appDownloadBox {
  background: #fecc2e;
  cursor: pointer;
  display: flex;
}

.appDownloadBox > img {
  width: 70%;
  margin: 0 auto;
}

/* show more btn  */

.showMoreBtn {
  margin-left: auto;
  color: #999999;
  display: flex;
  align-items: center;
}

.showMoreBtn > img {
  margin-left: 4px;
  margin-bottom: 2px;
  width: 8px;
  height: 14px;
}
