* {
  font-family: NotoSans;
  line-height: 1.4;
  margin: 0px;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: #eee;
  user-select: none;
}

main {
  margin-top: 167px;
}

a {
  text-decoration: none;
  color: #bdbdbd;
}

ul,
li {
  list-style: none;
  padding: 0px;
}

section {
  display: flex;
  flex-direction: column;
  margin: 11px auto 0px;
  width: 720px;
  background-color: white;
}

/* nav */

nav {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px auto;
  width: 720px;
  display: flex;
}

nav ul {
  box-sizing: border-box;
  min-width: 0px;
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px auto;
  width: 720px;
  display: flex;
}

nav ul > li {
  box-sizing: border-box;
  min-width: 0px;
  text-align: center;
  flex: 1 1 auto;
  padding: 22px 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul > li > * {
  cursor: pointer;
}
