.contentRowListBox {
  flex-direction: column;
  padding: 20px;
}
.contentRowListBox > :first-of-type {
  padding-top: 0px;
}
.contentRowListBox > :last-child {
  padding-bottom: 0px;
}

/* ---- content-rowlist-item ---- */

.contentRowListItem {
  display: flex;
  padding: 10px 0px;
  cursor: pointer;
}

.contentRowListItem__img {
  border-radius: 6px;
  width: 142px;
  height: 96px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px inset;
}

.contentRowListItem__content {
  flex: 1;
  margin: 10px 0px 10px 20px;
}

.contentRowListItem__title {
  display: flex;
}

.contentRowListItem__title img {
  height: 16px;
  margin-top: 2px;
  margin-right: 3px;
}

.contentRowListItem__title span {
  color: #333;
  font-size: 16px;
}

.contentRowListItem__description {
  color: #999;
  font-size: 14px;
  font-weight: 350;
  text-overflow: ellipsis;
  margin: 8px 0px 0px;
  line-height: 22.4px;
  height: 28px;
}

.contentRowListItem__info {
  display: flex;
  align-items: center;
  justify-self: center;
}

.contentRowListItem__info img {
  width: 11px;
  height: 11px;
  margin-right: 4px;
}

.contentRowListItem__info span {
  color: #9c9c9c;
  font-size: 14px;
  font-weight: 350;
}

.contentRowListItem__separator {
  box-sizing: border-box;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  min-width: 1px;
  width: 1px;
  height: 11px;
  background-color: #d9d9d9;
}
