footer {
  font-size: 14px;
  width: 720px;
  margin: 0 auto;
}

footer ul {
  padding: 60px 0px 0px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

footer a {
  cursor: pointer;
  color: #bdbdbd;
  text-decoration: none;
}

footer .companyInfo {
  margin-top: 5px;
  color: #bdbdbd;
}

footer .copyright {
  display: block;
  color: #cdcdcd;
  text-align: left;
  margin-top: 9px;
  padding-bottom: 50px;
}
