.app-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  min-width: 0;
  z-index: 201;
  box-sizing: border-box;
  border-bottom: 0;
  width: 100%;
  background-color: #fff;
  backface-visibility: hidden;
  border-bottom: 1px solid #dfdfdf;
}

.app-header > * {
  width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.header-action-wrapper {
  padding-top: 30px;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.header-action-wrapper > :not(:first-of-type) {
  margin-left: 24px;
}

.pagestage-wapper {
  position: relative;
}

.header-action-wrapper .tool-tip {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  top: 29px;
  left: -37px;
  width: 137px;
  height: 33px;
  max-width: none;
}
