.item-section-header {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.item-section-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-section-header > div:first-child {
  margin-right: auto;
  font-size: 20px;
}
.item-section-header-more {
  color: #a1a1a1;
  cursor: pointer;
}
.item-section-header-more > img {
  width: 8px;
  margin-left: 4px;
}
.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 120px;
  justify-content: center;
  margin-bottom: 8px;
}
.item-card > * {
  margin: 2px;
  max-width: 120px;
}
.item-image-holder {
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.item-image {
  width: 100%;
}
.item-overlay {
  background-color: #242526;
  width: 120px;
  height: 30px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  font-size: 16px;
  color: #ffd200;
}
.item-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #9c9c9c;
}
.item-info img {
  width: 10px;
  margin-right: 4px;
}
.item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.weekly-top {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.weekly-tabs-nav ul {
  display: flex;
  justify-content: stretch;
}
.weekly-tabs-nav .active {
  border-bottom: 3px solid #ffd200;
}
.weekly-tabs-nav .active button{
  color: #000;
}
.weekly-tab {
  list-style-type: none;
  display: flex;
}
.weekly-tab button {
  border: none;
  background-color: #0000;
}
.weekly-tab {
  flex: 1;
  padding: 10px 0;
  border-bottom: 3px solid #0000;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekly-tab > button {
  font-size: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #a1a1a1;
}
.weekly-tab-active-circle {
  border-bottom: 3px solid #ffd200;
}
