.tab {
  padding: 6px 0;
}
.section {
  background-color: #fff;
  width: 720px;
  margin: 10px 0;
  position: relative;
}
.banner-img {
  width: 720px;
}
.banner-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 720px;
}
.banner-title {
  display: flex;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #000;
  background-color: #ffd200;
}
.banner-desc {
  width: 720px;
}
.banner-desc-title {
  padding-left: 20px;
  color: white;
}
.banner-desc-title > div {
  font-size: 25px;
  font-weight: bold;
}
.banner-desc-desc {
  width: 720px;
  display: flex;
  color: #bbb;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
}
.banner-desc-desc > :first-child {
  margin-left: 0;
  margin-right: auto;
}
.banner-desc-desc > :last-child {
  font-size: 20px;
  margin-left: auto;
  margin-right: 0;
}
