.tab {
  padding: 6px 0;
}
.section {
  background-color: #fff;
  width: 720px;
  margin: 10px 0;
  position: relative;
}

.banner-img {
  width: 720px;
}
.banner-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 720px;
}
.banner-title {
  display: flex;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #000;
  background-color: #ffd200;
}
.banner-desc {
  width: 720px;
}
.banner-desc-title {
  padding-left: 20px;
  color: white;
}
.banner-desc-title > div {
  font-size: 25px;
  font-weight: bold;
}
.banner-desc-desc {
  width: 720px;
  display: flex;
  color: #bbb;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
}
.banner-desc-desc > :first-child {
  margin-left: 0;
  margin-right: auto;
}
.banner-desc-desc > :last-child {
  font-size: 20px;
  margin-left: auto;
  margin-right: 0;
}

.tab-nav {
  display: flex;
  width: 720px;
}
.tab-nav ul {
  width: 720px;
  display: flex;
}
.tab-nav li {
  list-style-type: none;
  flex: 1 1 auto;
  text-align: center;
}
.tab-nav button {
  border: none;
  cursor: pointer;
  background-color: #0000;
  font-size: 20px;
  color: #a1a1a1;
}

.section-featuring {
  padding: 20px;
}
.featuring-tabs {
  overflow: hidden;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.featuring-tab {
  background-color: #f3f3f3;
  margin: 1px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #3e3e3e;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
.carousel > div > img {
  width: 40px;
  height: 100px;
  cursor: pointer;
}
.carousel > div:nth-child(2) > img {
  width: 550px;
  height: 100px;
  margin: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.card-header {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}
.card-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header > div:first-child {
  margin-right: auto;
  font-size: 20px;
}
.card-header-more {
  color: #a1a1a1;
  cursor: pointer;
}
.card-header-more > img {
  width: 8px;
  margin-left: 4px;
}
.weekly-tab-nav ul{
  display: flex;
  justify-content: stretch;
}
.weekly-tab-nav li{
  list-style-type: none;
  display: flex;
}
.weekly-tab-nav button {
  border: none;
  background-color: #0000;
}
.weekly-tab {
  flex: 1;
  padding: 10px 0;
  border-bottom: 3px solid #0000;
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weekly-tab-active-line {
  border-bottom: 3px solid #ffd200;
}
.weekly-tab-active-circle {
  border-radius: 50%;
  background-color: #ffd200;
}
.weekly-tab > button {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #a1a1a1;
  width: 100%;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.item-image {
  
}