.tab {
  padding: 6px 0;
}
.section {
  background-color: #fff;
  width: 720px;
  margin: 10px 0;
  position: relative;
}

.tab-nav {
  display: flex;
  width: 720px;
}
.second-tabs {
  width: 720px;
  display: flex;
}
.second-tabs li {
  list-style-type: none;
  flex: 1 1 auto;
  text-align: center;
}
.second-tabs button {
  border: none;
  cursor: pointer;
  background-color: #0000;
  font-size: 20px;
  font-weight: 500;
  color: #a1a1a1;
}
.second-tabs .active * {
  color: #000;
}


.section-featuring {
  padding: 20px;
}
.featuring-items {
  overflow: hidden;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.featuring-item {
  background-color: #f3f3f3;
  margin: 1px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #3e3e3e;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
