<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header class="header-style">
    <div class="header-container">
      <h1>KakaoPage</h1>
      <div class="header-right-container">
        <div class="search-bar-container">
          <input type="text" class="search-bar">
          <img src="images/mag_glass.png" alt="mag_glass" class="mag-glass">
        </div>
        <div class="header-item">STAGE</div>
        <div class="header-item">캐시충전</div>
        <div class="header-item">로그인</div>
      </div>
    </div>
  </header>

  <nav id="nav" class="nav-style"></nav>

  <main id="main" class="main-style">
    <div id="main-tab"></div>
    <div id="main-contents"></div>
    <div id="main-cards"></div>
  </main>

  <footer class="footer-style">
    <div class="footer-button">
      <p class="text-center">카카오페이지 앱으로 보기 ></p>
    </div>
    <ul class="ul-policy">
      <li class="li-policy-first">회사소개</li>
      <li class="li-policy">이용약관</li>
      <li class="li-policy">개인정보처리방침</li>
      <li class="li-policy">청소년보호정책</li>
      <li class="li-policy">공지사항</li>
    </ul>
    <div class="flex width-720 mx-auto">
      <div>(주)카카오엔터테인먼트 사업자 정보 ㅜ </div>
      <div>| 사업자 정보 확인</div>
    </div>
    <div class="copyright">ⓒ Kakao Entertainment Corp.</div>
  </footer>
  <script src="javascripts/data.js"></script>
  <script src="javascripts/load.js"></script>
  <script src="javascripts/index.js"></script>
</body>
</html>