<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header class="header-style">
    <div class="header-container">
      <h1>KakaoPage</h1>
      <div class="header-right-container">
        <div class="search-bar-container">
          <input type="text" class="search-bar">
          <img src="images/mag_glass.png" alt="mag_glass" class="mag-glass">
        </div>
        <div class="header-item">STAGE</div>
        <div class="header-item">캐시충전</div>
        <div class="header-item">로그인</div>
      </div>
    </div>
  </header>

  <nav class="nav-style">
    <ul class="ul-tab">
      <li class="li-tab">홈</li>
      <li class="li-tab">웹툰</li>
      <li class="li-tab">웹소설</li>
      <li class="li-tab">영화</li>
      <li class="li-tab">방송</li>
      <li class="li-tab">책</li>
    </ul>
  </nav>

  <main class="main-style">
    <ul class="ul-tab">
      <li class="li-content">홈</li>
      <li class="li-content">요일연재</li>
      <li class="li-content">웹툰</li>
      <li class="li-content">소년</li>
      <li class="li-content">드라마</li>
      <li class="li-content">로맨스</li>
      <li class="li-content">로판</li>
      <li class="li-content">액션무협</li>
      <li class="li-content">BL</li>
    </ul>
    <div class="main-container mt-11">
      <img src="images/sample.jpeg" alt="sample" class="main-img">
    </div>
    <div class="main-container mt-11">
      <ul class="ul-tab">
        <li class="li-content">월</li>
        <li class="li-content">화</li>
        <li class="li-content">수</li>
        <li class="li-content">목</li>
        <li class="li-content">금</li>
        <li class="li-content">토</li>
        <li class="li-content">일</li>
        <li class="li-content">완결</li>
      </ul>
    </div>
    <div class="main-container justify-content-between">
      <ul class="ul-side">
        <li class="li-side">전체</li>
        <li class="li-side">웹툰</li>
        <li class="li-side">웹툰2</li>
      </ul>
      <div class="side-container">
        <div>전체 ㅜ</div>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
      <div class="card">
        <img src="images/sample2.jpeg" alt="sample2" class="card-img">
        <p class="text-center my-0">웹툰</p>
      </div>
    </div>
  </main>

  <footer class="footer-style">
    <div class="footer-button">
      <p class="text-center">카카오페이지 앱으로 보기 ></p>
    </div>
    <ul class="ul-policy">
      <li class="li-policy-first">회사소개</li>
      <li class="li-policy">이용약관</li>
      <li class="li-policy">개인정보처리방침</li>
      <li class="li-policy">청소년보호정책</li>
      <li class="li-policy">공지사항</li>
    </ul>
    <div class="flex width-720 mx-auto">
      <div>(주)카카오엔터테인먼트 사업자 정보 ㅜ </div>
      <div>| 사업자 정보 확인</div>
    </div>
    <div class="copyright">ⓒ Kakao Entertainment Corp.</div>
  </footer>
</body>
</html>