body {
    margin : 0;
}

header {
    position: fixed;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header-top {
    height: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-content {
    width: 720px;
    display: flex;
}

.logo-wrapper {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: block;
}

.logo-image {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    cursor: pointer;
    width: 130px;
    height: 29px;
    display: block;
    margin-top: 30px;
    margin-bottom: 22px;
}

.header-right {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    flex: 1 0 auto;
    justify-content: flex-end;
    display: flex;
}

.search-box {
    line-height: 23px;
    padding: 2px;
    border: 1px solid rgb(207, 207, 207);
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 30px;
    margin-top: 27px;
    margin-bottom: 19px;
}

.search-box > form {
    margin: 2px 3px 2px 11px;
}

.search-box > form > input {
    width: 136px;
    height: 100%;
    border: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
}

.search-box > form > input:focus {
    outline: none;
}


.search-icon-wrapper {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    align-items: center;
    padding-right: 10px;
    display: flex;
}

.search-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.to-stage-wrapper {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
    margin-left: 24px;
    margin-top: 31px;
}

.to-stage {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: auto;
    height: auto;
    align-items: center;
    display: flex;
}

.to-stage > img {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
}

.mypage-wrapper {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
    margin-top: 29px;
    margin-left: 27px;
    margin-right: 7px;
}

.mypage {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: inline-block;
    text-align: center;
    font-size: inherit;
    padding: 8px 16px;
    color: white;
    align-items: center;
    display: flex;
    width: 27px;
    height: 27px;
    padding: 0;
}

.mypage > img {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
}


.new-artist {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    top: 29px;
    left: -37px;
    width: 137px;
    height: 33px;
    max-width: none;
}

nav {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    top: 80px;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    background-color: #fff;
}

.nav-list {
    box-sizing: border-box;
    min-width: 0px;
    padding: 0px;
    margin: 0px auto;
    width: 720px;
    display: flex;
}

.nav-item {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    list-style: none;
    position: relative;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    flex: 1 1 auto;
    padding: 30px 0 15px;
}

.nav-item > a > img {
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    height: 20px;
}

.selected-menu {
    border-bottom-color: #ffd200;
}

.new {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: absolute;
    border-radius: 50%;
    right: 30px;
    top: 23px;
    width: 7px;
    height: 7px;
    background-color: rgb(255, 210, 0);
}

.confirmed > .new {
    display: none;
}

* {
    font-family: NotoSans;
    line-height: 1.4;
}

.root {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-top: 167px;
}

.category-list {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px auto;
    width: 720px;
    display: flex;
}

.category-item {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    list-style: none;
    text-align: center;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    padding: 22px 0px;
    font-size: 20px;
    display: flex;
}

.category-item > a {
    text-decoration: none;
    color: rgb(187, 187, 187);
    font-weight: 350;
    line-height: 1.15;
}

.category-item.selected > a {
    font-weight: 500;
    color: rgb(51, 51, 51);
}

footer {
    margin: 11px 0 50px;
}

.go-to-app {
    width: 720px;
    margin: 0 0 60px 0;
    background: #fecc2e;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.go-to-app > img {
    width: 70%;
    margin: 0 auto;
}

.footer-bottom {
    display: flex;
}

.footer-info {
    flex: 1 0 auto;
}

.footer-mark {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-mark > p {
    color: #a8a8a8;
    margin: 3px 0 0 0;
    text-align: center;
    font-size: 12px;
}

.footer-mark > img {
    width: 55px;
    height: 55px;
}

.footer-list {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.footer-list > li {
    line-height: 24px;
    margin-right: 3px;
    font-size: 14px;
}

.footer-list > li > a {
    color: #bdbdbd;
    text-decoration: none;
}

.business-info-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px auto 0;
    color: #bdbdbd;
    align-items: flex-start;
    font-size: 14px;
}

.business-info-wrapper > .exposed {
    display: flex;
    justify-content: flex-start;
}

.copyright {
    display: block;
    color: #cdcdcd;
    text-align: left;
    margin-top: 9px;
    line-height: 24px;
}