.banner {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 11px;
}
.banner-wrapper {
  display: flex;
  width: 720px;
  height: 480px;
  flex-direction: column;
  position: relative;
}
.banner-poster {
  width: 720px;
  height: 480px;
}

.banner-poster > img {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 480px;
}
.banner-link {
  background-color: #ffd200;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-wrapper > .carousel {
  width: 720px;
  height: 520px;
}
.banner-wrapper > .carousel > .container > .slide > div {
  display: flex;
  flex-direction: column;
}
.banner__content {
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: white;
}
.banner__title {
  font-size: 2rem;
  font-weight: bolder;
}
.banner__subtitle {
  display: flex;
  align-items: center;
  width: 190px;
  justify-content: space-between;
  margin-top: 5px;
}
.banner__subtitle > span:nth-child(1) {
  background-image: url("../assets/images/badge-bigthum-up.svg");
  width: 32px;
  height: 20px;
}
.banner__subtitle > span:nth-child(2) {
  background-image: url("../assets/images/ico-bigthum-wait.svg");
  width: 18px;
  height: 20px;
}

.banner__subtitle > span:nth-child(3) {
  background-image: url("../assets/images/bmbadge_webtoon.svg");
  width: 39px;
  height: 24px;
}
.banner__subtitle > span:nth-child(4) {
  background-image: url("../assets/images/Seperator.png");
  width: 2px;
  height: 20px;
}
.banner__subtitle > span:nth-child(5) {
  background-image: url("../assets/images/ico-bigthum-person.svg");
  width: 14px;
  height: 16px;
}
