.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  overflow: hidden;
}
.slide {
  display: flex;
  transition: transform 0.5s;
}
.slide > img {
  height: 100%;
  cursor: pointer;
}
.carousel > button {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  z-index: 1;
}
.prev {
  left: 20px;
}
.prev-white {
  background-image: url("../assets/images/ic-paging-back-nor.svg");
}
.prev-black {
  background-image: url("../assets/images/previous\ button.svg");
}
.next {
  right: 20px;
}
.next-white {
  background-image: url("../assets/images/ic-paging-next-nor.svg");
}
.next-black {
  background-image: url("../assets/images/next\ button.svg");
}
