.event {
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 11px;
  padding: 20px 0;
}
.event > .carousel {
  width: 720px;
}
.event > .carousel > .container {
  width: 550px;
  height: 100px;
  border-radius: 10px;
}
.event > .carousel > .container > .slide {
  height: 100px;
}
