.genres {
  display: flex;
  height: 67px;
  justify-content: space-evenly;
  background-color: white;
  margin-bottom: 11px;
}
.genres > li {
  text-align: center;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  font-size: 20px;
  display: flex;
  color: rgb(187, 187, 187);
}
.genres > li > a {
  font-weight: 350;
  line-height: 1.15;
}
.genres > li.selected {
  color: rgb(51, 51, 51);
  border-bottom: none;
}
