* {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
}

body {
    position: absolute;
    height: 2000px;
    overflow-y: scroll;
    background-color: #eee;
    width: 100%;
    padding: 0;
    margin: 0;
}

header{
    z-index: 201;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    min-width: 720px;
}

.header-contents{
    display: flex;
    justify-content: space-between;
    width: 720px;
}

.header-contents > img{
    width: 130px;
}

.header-contents > div{
    display: flex;
    flex-direction: row;
}

.stage-img{
    margin: 27px 0 0 20px;
}

.search-elements-group{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 30px;
    margin: 25px 0 25px 0;
}

.search-elements-group > form{
    width: 150px;
}

.search-elements-group > form > input {
    border: none;
    padding: 3px 3px 3px 10px;
    outline: none;
    font-size: 100%;
    width: 60%;
}

.search-elements-group > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header-btn-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.header-btn{
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    color: #999;
    margin: 0 5px 0 5px;
}

.contents-nav-group{
    z-index: 201;
    top: 80px;
    left: 0;
    position:fixed;
    background-color:white;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    height: 70px;
}

.contents-nav-group ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 720px;
}

.contents-nav-group li{
    width: 120px;
    padding: 15px 0 10px;
    text-align: center;
}

/* common style */
button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}