* {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
}

header{
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    min-width: 720px;
}

.header-contents{
    display: inherit;
    justify-content: space-between;
    width: 720px;
}

.header-contents > img{
    width: 130px;
}

.header-contents > div{
    display: inherit;
    flex-direction: row;
}

.search-elements-group{
    display: inherit;
    align-items: center;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 30px;
    margin: 25px 0 25px 0;
}

.search-elements-group > form > input {
    border: none;
    padding: 3px 3px 3px 10px;
    outline: none;
    font-size: 100%;
}

.search-elements-group > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.header-btn-group{
    display: inherit;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.header-btn{
    border: none;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    color: #999;
    margin: 0 5px 0 5px;
}

body {
    height: 2000px;
    overflow-y: scroll;
    background-color: #999999;
}


/* common style */
button {
    cursor: pointer;
}