.weekdays-top-ranking{
    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff;
    margin-top: 11px;
    padding: 22px 19px;
    width: 100%;
}

.weekdays-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.weekdays-title-wrapper{
    display: flex;
    align-items: center;
}

.weekdays-title{
    font-size: 20px;
    color: #333;
}

.weekdays-total-count {
    color: #999;
    font-size: 14px;
    margin-left: 4px;
}

.show-more-wrapper{
    align-items: center;
    font-size: 16px;
    color: rgb(153, 153, 153);
    display: flex;
    cursor: pointer;
}

.show-more-img{
    margin-left: 4px;
    margin-top: 2px;
    width: 8px;
    height: 14px;
}

.weekdays-nav {
    margin-top: 15px;
    display: flex;
}

.weekdays-wrapper{
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    flex: 1;
    background-color: #ffffff;
}

.weekdays {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: center;
    color: #bbbbbb;
}

.weekdays-content-main{
    margin-top:22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weekdays-content-wrapper{
    margin-bottom: 20px;
    width: 120px;
    background-color: white;
}
